html {
    background-color: floralwhite;
}

/* Formulaire principal */

.main-form div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.main-form div input{
    width: 40%;
}

.main-form div label{
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem;
}

.btn-card-generator{
    font-size: 1.5rem;
    background : grey;
    border: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0rem 0rem 1rem;
}

/* Carte de visite */

.visit-card{
    /* Format standard de carte selon Google*/
    width: 1004px;
    height: 650px;
    background-color: rgb(31, 31, 31);
    position: absolute;
}