html {
    background-color: floralwhite;
}

.index{
    display: flex;
    flex-direction: row;
}

/* Formulaire principal */

.div-main-form{
    width : 100%;
}

.main-form{
    width: 80%;
}

.main-form div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.main-form div input{
    width: 80%;
}

.main-form div label{
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem;
}

.btn-card-generator{
    font-size: 1.5rem;
    background : grey;
    border: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0rem 0rem 1rem;
}


/* Carte de visite */

.visit-card{
    /* Format standard de carte  1004x650*/
    width: 1004px;
    height: 650px;
    background-image: url('../ressources/Carte-Background.jpg');
}

.visit-card{
    color : goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.vc-identity{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.vc-name{
    font-size: 48px;
}

.vc-job{
    opacity: 75%;
    font-style: italic;
}


.vc-information{
    width: 45%;
}

.vc-image-carte{
    margin: 0% 10% 0% 10%;
    width: 30%;
    height: 30%;
    border: solid green 5px;
}

.vc-information{
    text-align: end;
    padding : 20px 50px 0px 0px;
    width: 45%;
}

.vc-content{
    display: flex;
    flex-direction: row;
}

/* Cartes page d'accueil */

.all-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
}

.all-cards div {
    display: flex;
    width: 100%;
}

.images-cards{
    width: 100%;
    background-color: aquamarine;
}

.images-cards:hover{
    border : green solid 5px;
    transition: 500ms;
}


.btn-img{
    border: none;
    background: none;
}

/* Boutton PDF */

@media screen and (max-width: 500px){

    .all-cards div button{
        width: 100%;
    }

    .all-cards{
        grid-template-columns: 100%;
        grid-gap: 3%;
    }
    
}
