html {
    background-color: floralwhite;
}

/* Formulaire principal */

.main-form div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.main-form div input{
    width: 40%;
}

.main-form div label{
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem;
}

.btn-card-generator{
    font-size: 1.5rem;
    background : grey;
    border: 1px black solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0rem 0rem 1rem;
}

/* Carte de visite */

.visit-card{
    /* Format standard de carte  1004x650*/
    width: 1004px;
    height: 650px;
    background-image: url('../ressources/Carte-Background.jpg');
}

.visit-card{
    color : goldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.vc-identity{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.vc-name{
    font-size: 48px;
}

.vc-job{
    opacity: 75%;
    font-style: italic;
}

.vc-information{
    text-align: end;
    padding : 20px 50px 0px 0px;
}